.requests-list {
   border-radius: 50px;
}

.requests-list-navbar {
   border-top-left-radius: 36px;
   border-top-right-radius: 36px;
   color: #5A5753;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   line-height: 157%;
   text-align: center;
   letter-spacing: 0.08em;
}

.requests-list-item {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   line-height: 157%;
   color: #07169B;
}

.requests-list-item {
   background-color: #EAFAFF;
   cursor: "pointer";
   border-radius: 20px;
}

.button-create-request-list {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   line-height: 157%;
   letter-spacing: 0.08em;
   color: #FFFFFF;
   text-transform: uppercase;
}


.border-gradient-orange {
   background: radial-gradient(circle at 100% 100%, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 0% 0%/20px 20px no-repeat,
            radial-gradient(circle at 0 100%, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 100% 0%/20px 20px no-repeat,
            radial-gradient(circle at 100% 0, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 0% 100%/20px 20px no-repeat,
            radial-gradient(circle at 0 0, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 100% 100%/20px 20px no-repeat,
            linear-gradient(#EAFAFF, #EAFAFF) 50% 50%/calc(100% - 4px) calc(100% - 40px) no-repeat,
            linear-gradient(#EAFAFF, #EAFAFF) 50% 50%/calc(100% - 40px) calc(100% - 4px) no-repeat,
            linear-gradient(270deg, transparent 0%, #ffa620 100%);
}

.border-gradient-green {
   background: radial-gradient(circle at 100% 100%, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 0% 0%/20px 20px no-repeat,
            radial-gradient(circle at 0 100%, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 100% 0%/20px 20px no-repeat,
            radial-gradient(circle at 100% 0, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 0% 100%/20px 20px no-repeat,
            radial-gradient(circle at 0 0, #EAFAFF 0, #EAFAFF 18px, transparent 18px) 100% 100%/20px 20px no-repeat,
            linear-gradient(#EAFAFF, #EAFAFF) 50% 50%/calc(100% - 4px) calc(100% - 40px) no-repeat,
            linear-gradient(#EAFAFF, #EAFAFF) 50% 50%/calc(100% - 40px) calc(100% - 4px) no-repeat,
            linear-gradient(270deg, transparent 0%, #00FF38 100%);
}