.my-request {
   height: calc(100vh - 74.53px); 
   overflow:auto; 
}

.my-request-form {
   height: calc(100vh - 74.53px); 
   overflow:auto; 
}


.sidebar {
   background-color: #1F2340;
}

.sidebar-requests-items {
   font-family: 'Krub';
   font-style: normal;
   font-weight: 500;
   font-size: 1vw;
   line-height: 157%;
   text-align: center;
   letter-spacing: 0.09em;
   color: #FFFFFF; 
}

.sidebar-items-item {
   color: black;
   border-radius: 21px;
   margin: 3px;
   width: 10vw;
   background-color: #D9D9D9;
   z-index: 2;  
}

.sidebar-items-item:hover {
   transform: scale(1.1); 
   background-color: #b9b9b9;
}

.navbar-container {
   border: #1F2340; 
}

@media (max-width: 600px) {
   .my-request-form {
      height: 100%; 
      overflow:auto; 
   }
}




 

