.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 5px;
}

.image-container-form {
    border: 1px solid #07169B;
    border-radius: 15px;
}

.image-container img {
    width: 6vw;
    height: 9vh;
    object-fit: contain;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 0.2px solid #B3B0A9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-container img:hover {
    transform: scale(1.05);
}
.image-container img.selected {
    box-shadow: 0 0 4px 1px #01fc01;
}

.image-desc {
   font-family: 'Krub';
   font-style: normal;
   font-weight: 700;
   font-size: 0.6vw;
   line-height: 124%;
   letter-spacing: 0.06em;
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 7vw;
}

.image-container-form-helpType {
    width: 30vw;
}

.image-container-form.error {
    border: 1px solid red;
    border-radius: 15px;
}

@media (max-width: 750px) {
    .image-container-form-helpType {
        width: 60vw;
    }
    .image-container img {
        width: 11vw;
        height: 10vh;
    }  
    .image-desc {
        font-size: 1.2vw;
        width: 12vw;
   }
}

