.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container img {
    width: 167px;
    height: 118px;
    object-fit: contain;
    cursor: pointer;
    margin: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #aeafb1;
}

.image-container img.selected {
    box-shadow: 0 0 4px 1px #01fc01;
}