.image-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.image-controls button {
  background: none;
  border: none;
  color: white;
  margin: 0 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #0F182C;
  border: 1px solid white;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.image-controls button:focus {
  outline: none;
}

.profile-images {
  position: relative;
  width: auto;
  width: 70vw;
  height: 25vw;
  border-radius: 1rem;
  z-index: 6;
  border: 0.5px solid white;
  object-fit: fill; 
}

.description-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 40vh;
  height: 100%;
  border: 0.5px solid white;
  border-radius: 1rem;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 1.7s ease-out, opacity 1.7s ease, visibility 1.7s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.description-container.visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  z-index: 0;
}

@media screen and (max-width: 768px) {

  .gallery {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .editGallery {
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
  }

  .description-container {
    top: 100%;
    left: 0;
    width: 100%;
    height: 15vh;
    border: 0.5px solid white;
    border-radius: 1rem;
    box-sizing: border-box;
    transform: translateY(-100%);
    transition: transform 1.7s ease-out, opacity 1.7s ease, visibility 1.7s ease;
    opacity: 0;
    visibility: hidden;
  }

  .description-container.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 0;
  }

  .text-description {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.3vh !important;
  }

  .profile-images {
    height: 80vw;
  }

  .image-controls {
    margin-top: 1rem;
    flex-direction: row;
    position: relative;
    z-index: 1;
  }
}

.text-description {
  font-size: 1vw;
}

.center-image {
  margin-left: 35%;
}

.image-controls2 {
  margin-left: 70%;
}

@media screen and (min-width: 240px) and (max-width: 1023px) {
  .flower {
    display: none;
  }

  .profile-images {
    width: 35vh;
    max-height: 25vh;
  }
}

@media screen and (max-width: 768px) {
  .mobile {
    top: 2vw;
  }

  .mobileTitle {
    text-align: center;
  }

  .image-controls {
    margin-top: 18vh;
  }

  .image-controls2 {
    margin-top: 2vh;
    margin-left: 0;
  }

  .center-image {
    margin-left: 0;
  }
}