.register {
    display: flex;
    flex-direction: row;
}

.regForm {
    width: 50%;
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../assets/images/logoBackg.png");
    background-size: cover;
}

.regInput {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    color: gray;
    border: 1.3px solid lightgray;
    border-radius: 10px;
    outline: none;
}

.error {
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 0.25rem;
}

.inputLabel {
    color: darkblue;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: left;
    margin: 0.8rem 0.1rem 0.3rem;

}

.input-error {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    color: gray;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    outline: none;
}

.regImage {
    width: 50%;
}

.regForm button, .registerButton {
    background-color: #010159;
    width: 60%;
    max-width: 250px;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-inline: 2em;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .regImage {
        width: 0;
    }

    .regForm {
        width: 100%;
        background-image: url("../../../assets/images/logoMulBack.png");
    }
}
