.home {
    background-color: #e0e3e3;
    background-image: url("../../../assets/images/hpMulLog2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 1450px;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 50px;
}

.slidesHome {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 200px;
}

.home1, .categorySlides {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.categorySlides {
    padding-top: 100px;
}

.par {
    top: 8em;
}

.par3 {
    font-weight: bold;
    color: #3f5351;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 30px;
    min-width: 400px;
}

.roundImage {
    display: flex;
    flex-direction: row;
    transform: rotate(-14deg);
}

.roundImage > div {
    background-size: cover;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

.roundImage > div:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.roundImage1 {
    background-image: url("assets/images/round1.png");
}

.roundImage2 {
    background-image: url("../../../assets/images/ri2.png");
}

.roundImage3 {
    background-image: url("../../../assets/images/ri3.png");
}

.how {
    background-image: url("../../../assets/images/how3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fdfdfd;
    padding-top: 10%;
}

.AccordionRoot {
    width: 60%;
    margin-inline: 10%;
    max-width: 500px;
    transform: scale(1.5);
}

@media screen and (max-width: 1624px) {

    .home {
        background-image: url("../../../assets/images/hpMultipleLogosBac.png");
        justify-content: center;
        align-items: center;
    }

    .home1 {
        justify-content: center;
        width: 100%;
        padding-top: 30%;
    }


    .roundImage {
        transform: scale(0.7);
    }

    .par3 {
        margin-inline: 10%;
    }

    .par {
        left: 80px;
    }

    .par2 {
        right: 80px;
    }
}

@media screen and (max-width: 1160px) {

    .home1, .how {
        flex-direction: column;
    }

    .home1 {
        padding-top: 70%;
    }

    .categorySlides {
        flex-direction: column-reverse;
        text-align: center;
    }

    .slidesHome {
        justify-content: center;
        padding-right: 0;
    }

    .how {
        padding-top: 30%;
        justify-content: center;
    }

    .how > h1 {
        padding-bottom: 10%;
    }

}

@media screen and (max-width: 1024px) {


    .slidesHome, .categorySlides {
        width: 90%;
        margin-inline: 5%;
    }

    .bannerhome {
        text-align: center;
        height: 550px;
    }

    .par {
        top: 12em;
        bottom: 6em;
        left: 80px;
    }

    .par2 {
        text-align: center;
        right: 6em;
    }

}

@media screen and (max-width: 914px) {

    .home1 {
        padding-top: 90%;
    }
}

@media screen and (max-width: 723px) {

    .roundImage {
        transform: scale(0.6);
    }

    .home1 {
        padding-top: 20%;
    }

    .slidesHome, .categorySlides {
        transform: scale(0.7);
        padding-top: 0;
    }

    .home {
        padding-top: 0;
        justify-content: flex-start;
    }

    .how > h1 {
        padding-bottom: 20%;
    }

}

@media screen and (max-width: 456px) {

    .how {
        padding-top: 60%;
        justify-content: flex-start;
    }

    .how > h1 {
        padding-bottom: 25%;
        font-size: xxx-large;
    }

    .AccordionRoot {
        width: 50%;
        margin-inline: 10%;
    }

    .roundImage {
        transform: scale(0.5);
    }


    .slidesHome, .categorySlides {
        width: 100%;
    }

    .slideshowSlider > img {
        height: 300px;
    }

    .par > p, .par2 > p {
        font-size: small;
        text-align: start;
    }

    .par > p {
        text-align: start;
    }

    .par2 {
        left: 30px;
    }

    .par3 {
        font-size: smaller;
    }

    .par3p > p {
        font-size: small;
    }

    .home {
        padding-top: 10%;
        padding-bottom: 0;
    }

}

@media screen and (max-width: 360px) {

    .roundImage {
        transform: scale(0.4);
    }
}
