.user-profile {
  font-family: 'Arial', sans-serif;
  background-color: #1F2340;
  position: relative;
  padding-top: 40rem;
  z-index: 1;
}

.wave-background {
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%) scaleX(1.1);
  z-index: -1;
}

.content-container {
  position: absolute;
  top: 26vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.profile-image-container {
  position: absolute;
  bottom: 20vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-image {
  width: 13vw;
  height: 13vw;
}

.user-name {
  font-size: 4vw;
}

@media screen and (min-width: 240px) and (max-width: 1400px) {
  .user-profile {
    width: 100%;
  }

  .profile-image-container {
    max-width: 90vw;
  }

  .user-image {
    width: 13vw;
    height: 13vw;
  }

  .user-name {
    font-size: 2vw;
  }

}