.custom-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 30px 30px;
    gap: 10px;
}

@media only screen and (max-width: 950px) {
    .custom-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 760px) {
    .custom-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}